[Unit]
Description=Container desktop entries service
Requires=desktop-entry-daemon.service
After=desktop-entry-daemon.service

[Service]
Type=oneshot
Environment="RUST_LOG=debug"
ExecStart=container-desktop-entries
SuccessExitStatus=DATAERR
IOSchedulingClass=idle
Slice=background.slice

[Install]
WantedBy=graphical.target