[Unit]
Description=Container desktop entries server service
Requires=desktop-entry-daemon.service
After=desktop-entry-daemon.service

[Service]
Type=simple
Environment="RUST_LOG=debug"
ExecStart=container-desktop-entries
SuccessExitStatus=DATAERR
IOSchedulingClass=idle
Slice=background.slice

[Install]
WantedBy=desktop-entry-daemon.service