[Unit]
Description=Container desktop entries service
DefaultDependencies=no
After=desktop-entry-daemon.service

[Service]
Type=oneshot
Environment="RUST_LOG=info"
ExecStart=container-desktop-entries
SuccessExitStatus=DATAERR
IOSchedulingClass=idle
Slice=background.slice